body { font: 14px Arial;}

path {
  stroke: magenta;
  stroke-width: 1;
  fill: none;
}

.axis path,

.axis line {
  fill: none;
  stroke: violet;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.area {
    fill: yellow;
    stroke-width: 0;

}
